<div class="ui raised segment">
  <h2 class="ui header">Observables</h2>
  <button type="button" class="ui icon positive button" (click)="add()"><i class="plus icon"></i></button>
  <button type="button" class="ui icon negative button" (click)="substract()"><i class="minus icon"></i></button>
  <button type="button" class="ui primary button" #btn>Double click or not...</button>
  <button type="button" class="ui secondary button" (click)="clear()">Clear</button>
</div>
<div *ngIf="doubleClickMessage" class="ui message positive">
  {{ doubleClickMessage }}
</div><div *ngIf="doubleClickMessage2" class="ui message positive">
  {{ doubleClickMessage2 }}
</div>
<div *ngIf="noDoubleClickMessage" class="ui message error">
  {{ noDoubleClickMessage }}
</div>
<div *ngIf="message" class="ui message">
  <pre>{{ message | json }}</pre>
</div>
<div class="ui message">
  <div>
    <table class="ui very basic collapsing table">
      <thead>
        <tr>
          <th>Avatar</th>
          <th>Login</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usr of githubUsers">
        <td data-label="Avatar"><img src={{usr.avatar_url}} class="ui mini circular image"/></td>
        <td data-label="Login">{{ usr.login}}</td>
      </tr>
    </table>
  </div>
  <pre>{{ requestStream  | async }}</pre>
  <pre>{{ responseStream | async | json}}</pre>
</div>
