<div class="ui raised segment">
  <h2 class="ui header">Observables</h2>
  <button type="button" class="ui icon positive button" (click)="add()"><i class="plus icon"></i></button>
  <button type="button" class="ui icon negative button" (click)="substract()"><i class="minus icon"></i></button>
  <button type="button" class="ui primary button" #btn>Double click or not...</button>
  <button type="button" class="ui secondary button" (click)="clear()">Clear</button>
  <button type="button" class="ui inverted green button" #refreshButton>Refresh users..</button>
</div>
<div *ngIf="doubleClickMessage" class="ui message positive">
  {{ doubleClickMessage }}
</div>
<div *ngIf="noDoubleClickMessage" class="ui message error">
  {{ noDoubleClickMessage }}
</div>
<div *ngIf="message" class="ui message">
  <pre>{{ message | json }}</pre>
</div>
<div>
  <table class="ui single line table">
    <thead>
    <tr>
      <th colspan="3">
        <img class="ui avatar image" src="../../assets/images/GitHub-Mark-32px.png" /><span>Who to follow...</span>
      </th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <div *ngIf="userSuggestion1">
          <td><img class="ui avatar image" src={{userSuggestion1.avatar_url}}/></td>
          <td>{{ userSuggestion1.login}}</td>
          <td><a href="{{ userSuggestion1.html_url}}" target="_blank">{{ userSuggestion1.html_url}}</a></td>
          <td class="right aligned"><i class="close link grey icon" #closeButton1></i></td>
        </div>
      </tr>
      <tr>
        <div *ngIf="userSuggestion2">
          <td><img class="ui avatar image" src={{userSuggestion2.avatar_url}}/></td>
          <td>{{ userSuggestion2.login}}</td>
          <td><a href="{{ userSuggestion2.html_url}}" target="_blank">{{ userSuggestion2.html_url}}</a></td>
          <td class="right aligned"><i class="close link grey icon" #closeButton2></i></td>
        </div>
      </tr>
      <tr>
        <div *ngIf="userSuggestion3">
          <td><img class="ui avatar image" src={{userSuggestion3.avatar_url}}/></td>
          <td>{{ userSuggestion3.login}}</td>
          <td><a href="{{ userSuggestion3.html_url}}" target="_blank">{{ userSuggestion3.html_url}}</a></td>
          <td  class="right aligned"><i class="close link grey icon" #closeButton3></i></td>
        </div>
      </tr>
    </tbody>
  </table>
</div>
