<h3 class="panel-title">
  <span><i class="comment alternate outline icon"></i></span>
  Chat - {{currentThread.name}}
</h3>


<div class="ui items hk msg-container-base">
  <chat-message
    class="item"
    *ngFor="let message of messages | async"
    [message]="message">
  </chat-message>
</div>


<div class="ui fluid action input">
  <input type="text"
         placeholder="Write your message here..."
         (keydown.enter)="onEnter($event)"
         [(ngModel)]="draftMessage.text"/>
  <button class="ui primary button"
          (click)="onEnter($event)"
  >Send
  </button>
</div>


