div.ui.items.hk {
  height: 430px;
  max-height: 430px;
  overflow-y: scroll;
}

div.ui.fluid.action.input {
  vertical-align: bottom;
}

h3.panel-title {
  background-color: #DCDCDC;
  border-radius: 5px;
  text-align: center;
  color: #333333;
  padding: 0.5em;
}

.effect1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 5px 6px -6px #777;
}

div.chat-window-container {
position: relative;
bottom: 0;
right: 100;
width: 300px;
height: 300px;
overflow-y: auto;
border: 3px solid #73AD21;
}
