<!-- Menu Bar -->
<div class="ui menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img class="logo" src="./assets/images/ng-book-2-minibook.png">
      ng-book 2
    </a>
    <div class="header item borderless">
      <h1 class="ui header">
        ng-book-2 on Angular 7
      </h1>
    </div>
  </div>
</div>
<div class="ui link large horizontal list">
      <a class="active item" [routerLink]="['reddit']">Reddit</a>
      <a class="item" [routerLink]="['inventory']">Inventory</a>
      <a class="item" [routerLink]="['directives']">Directives</a>
      <a class="item" [routerLink]="['form']">Forms</a>
      <a class="item" [routerLink]="['http']">Simple Http</a>
      <a class="item" [routerLink]="['youtube_search']">YouTube Search</a>
      <a class="item" [routerLink]="['euler']">Euler</a>
      <a class="item" [routerLink]="['observables']">Observables</a>
      <a class="item" [routerLink]="['chat']">ChatApp</a>
</div>
<div id="content">
  <div class="ui container">
    <router-outlet></router-outlet>
  </div>
</div>
