<div class="ui raised segment">
  <h2 class="ui header">Project Euler</h2>
  <h3><a href="https://projecteuler.net/problem=1">Problem 1- Sum of multiples</a></h3>
  <form #f="ngForm"
        (ngSubmit)="getEuler(f.value)"
        class="ui form">
    <div class="field">
      <label for="multiple1">multilpe 1</label>
      <input type="text"
             id="multiple1"
             placeholder="Positive number..."
             name="multiple1" ngModel
             [(ngModel)]="multiple1">
    </div>
    <div class="field">
      <label for="multiple2">multilpe 2</label>
      <input type="text"
             id="multiple2"
             placeholder="Positive number..."
             name="multiple2" ngModel
             [(ngModel)]="multiple2">
    </div>
    <div class="field">
      <label for="limit">limit</label>
      <input type="text"
             id="limit"
             placeholder="Positive number..."
             name="limit" ngModel
             [(ngModel)]="limit">
    </div>
    <button type="submit" class="ui positive button">Calculate</button>
    <button class="ui button secondary" type="button" (click)="reset()">Reset</button>
  </form>
</div>
<div *ngIf="loading">loading...</div>
<div *ngIf="data" class="ui message">
  <pre>{{ data | json }}</pre>
</div>
