<form [formGroup]="myForm" class="ui large form segment">
  <h2>Basic Request</h2>
  <div class="field">
    <label for="url">URL</label>
    <input id="url"
           type="text"
           name="url"
           [formControl]="myForm.controls['url']"
           #url
           (keydown.enter)="makeRequest(url.value)">
  </div>
  <button class="ui button positive left floated" type="button" (click)="makeRequest(url.value)">Make Request</button>
  <button class="ui button secondary left floated" type="button" (click)="reset()">Reset</button>
</form>
<div *ngIf="loading">loading...</div>
<div *ngIf="data" class="ui message">
  <pre>{{ data | json }}</pre>
</div>
